.audio-background{    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;    

    img{
        height: 250px;
        max-width: 100%;
    }
}