.audio-player{
    i{
        margin-left: 20px;
    }

    .p-slider{
        margin-left: 20px;
        background: white;
    }

    .p-slider.p-slider-horizontal{
        width: 200px;
    }

    .p-slider.p-slider-vertical{
        height: 5rem;
    }
}

