.audio-player{
    .audio-central{
        margin-left: 1rem;
    }

    .audio-volumn{
        margin-left: 1rem;
    }

    .p-slider{
        background: gray;
        cursor: pointer;
        height: 0.5rem;
    }

    .p-slider.p-slider-horizontal{
        width: 200px;

        &:hover{
            .p-slider-handle{opacity: 1;}
        }
    }
    
    .p-slider.p-slider-horizontal.volume{
        width: 150px;
        
        .p-slider-range{
            background-color: white;
        }
    }

    .p-slider-handle{
        opacity: 0;

        &:hover{
            background: #0b213f;
        }
    }
}

